<!DOCTYPE html>
<html xmlns : th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록 출력</title>
</head>
<body>
    <div class = 'layout'>
        <table>
            <thead>
                <tr>
                    <th>글 번호</th>
                    <th>제목</th>                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="board:${list}">
                    <td th:text = ${board.id}></td>
                    <td>
                        <a th:text = ${board.title} th:href = "@{/board/view(id=${board.id})}"></a>
                    </td>                    
                </tr>
            </tbody>
        </table>

        <th:block th:each = "page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if = "${page != nowPage}" th:href = "@{/board/list(page = ${page-1}, 
            searchKeyword = ${param.searchKeyword})}" th:text = "${page}"></a>            
            <strong th:if = "${page == nowPage}"  th:text = "${page}" style = "color : red"></strong>
        </th:block>
        <form th:action = "@{/board/list}" method = "get">
            <input type = "text" name = "searchKeyword">
            <input type = "submit" value = "검색">

        </form>
    </div>
</body>
</html>